* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
}

.biodata {
    width: 40%;
    border: 2px black dashed;
    padding: 5px;
    text-align: center;
    background-color: mediumspringgreen;
}

.biodata h1 {
    font-size: 25px;
}

.biodata p {
    font-size: 15px;
}